<%- include("../partials/header.ejs") %>
<h1 class="text-3xl text-black pb-6">Events</h1>
<div class="mt-6">
  <a
    class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
    href="/hab/admin/hostel/event/add"
    >Add Event</a
  >
</div>
<div class="w-auto mt-6 overflow-auto">
  <div class="bg-white">
    <table class="min-w-full bg-white">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
            Name
          </th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
            Imagepath
          </th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
            Date
          </th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
            View
          </th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
            Edit
          </th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
            Delete
          </th>
        </tr>
      </thead>
      <tbody class="text-gray-700" id="myMenu">
        <%events.forEach((event,i)=>{ if(i%2){%>
        <tr class="bg-gray-200">
          <%}else{%>
        </tr>

        <tr>
          <%}%>

          <td class="w-1/3 text-left py-3 px-4"><%= event.name.substring(0, 80) + "..."  %></td>
          <td class="w-1/3 text-left py-3 px-4" >
           <img src="/hab/uploads/hostel_files/<%= event.path %>" alt="" style="height: 8vh;width: 8vw;"> 
          </td>
          <td class="text-left py-3 px-4"><%=event.date.getDate()+'/'+(event.date.getMonth()+1)+'/'+event.date.getFullYear()
            %></td>

          <td class="text-left py-3 px-4">
            
            <a
              class="hover:text-blue-500"
              href="<%= event.imagepath %>"
              target="_blank"
              >View</a
            >
           
          </td>

          <td class="text-left py-3 px-4">
            <a
              class="hover:text-blue-500"
              href="/hab/admin/hostel/event/<%=event.id%>"
              >Edit</a
            >
          </td>

          <td class="text-left py-3 px-4">
            <form
              class="mx-2"
              action="/hab/admin/hostel/event/<%=event.id%>?_method=DELETE"
              method="POST"
            >
              <button class="hover:text-red-500">Delete</button>
            </form>
          </td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </div>
</div>
<%- include("../partials/footer.ejs") %>
