<section id="hmc" class="md:mx-28">
  <div
    class="
      font-bold
      flex
      justify-center
      md:justify-start
      text-xl
      md:text-4xl
      my-4
      md:my-20
    "
  >
    Hostel Management Committee
  </div>
  <div class="flex-wrap">
    <%- include("./hmccard.ejs") %><%- include("./hmccard.ejs") %><%-
    include("./hmccard.ejs") %><%- include("./hmccard.ejs") %><%-
    include("./hmccard.ejs") %>
  </div>
</section>
