<section id="home" class="sectionlist" style="display: block">
  <div class="sm:mx-16 md:mx-32 mt-20">
    <div class="flex items-center justify-between mb-8">
      <div class="font-bold text-4xl">About Hostel</div>
      <div>
        <button class="border-2 rounded px-6 py-3">Personal Website</button>
      </div>
    </div>
    <div>
      The Hostel Affairs Board is the apex decision and policy making body for
      Hostels. It acts as a central coordinating body and its main function is
      to ensure proper working of the Hostel Management Committees (HMC) in
      individual hostels as per the directions laid by the Hostel Constitution
      and the HAB Procedures And Resolutions (HABPR). The HAB works under the
      purview of the Hostel Constitution and ensures that the rules and policies
      set up are followed.
    </div>
  </div>
  <div class="container mx-auto p-6 sm:py-12 sm:px-36">
    <div class="flex-col space-y-8 items-start justify-start">
      <div class="flex justify-between w-full mb-4 sm:mb-6">
        <p class="text-2xl sm:text-3xl font-bold">Wardens</p>
      </div>

      <div class="inline-flex items-start justify-between w-full">
        <%- include("./hmccard.ejs") %><%- include("./hmccard.ejs") %>
      </div>
      <div class="inline-flex items-start justify-between w-full">
        <%- include("./hmccard.ejs") %><%- include("./hmccard.ejs") %>
      </div>
      <div class="inline-flex items-start justify-between w-full">
        <%- include("./hmccard.ejs") %><%- include("./hmccard.ejs") %>
      </div>
    </div>
  </div>
  <div class="sm:mx-16 md:mx-32">
    <div class="flex items-center justify-between mb-8">
      <div class="font-bold text-4xl">Announcements</div>
    </div>
    <div class="border-2 rounded-sm drop-shadow-sm px-5 py-2 my-5">
      <div>24 December 2020</div>
      <div class="flex items-center justify-between">
        <div>Circular related to mess refund</div>
        <svg
          width="32"
          height="33"
          viewBox="0 0 32 33"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M21.4398 29.8791H10.5465C5.83984 29.8791 2.6665 26.8511 2.6665 22.3324V10.7724C2.6665 6.2524 5.83984 3.2124 10.5465 3.2124H21.4398C26.1598 3.2124 29.3332 6.2524 29.3332 10.7724V22.3324C29.3332 26.8511 26.1598 29.8791 21.4398 29.8791ZM19.0265 15.5457H10.5598C9.99984 15.5457 9.55984 15.9991 9.55984 16.5457C9.55984 17.1057 9.99984 17.5457 10.5598 17.5457H19.0265L15.7198 20.8391C15.5332 21.0257 15.4265 21.2924 15.4265 21.5457C15.4265 21.7977 15.5332 22.0524 15.7198 22.2524C16.1065 22.6391 16.7465 22.6391 17.1332 22.2524L22.1598 17.2524C22.5332 16.8791 22.5332 16.2124 22.1598 15.8391L17.1332 10.8391C16.7465 10.4524 16.1065 10.4524 15.7198 10.8391C15.3332 11.2391 15.3332 11.8657 15.7198 12.2657L19.0265 15.5457Z"
            fill="#A5ADBC"
          />
        </svg>
      </div>
    </div>
    <div class="border-2 rounded-sm drop-shadow-sm px-5 py-2 my-5">
      <div>24 December 2020</div>
      <div class="flex items-center justify-between">
        <div>Circular related to mess refund</div>
        <svg
          width="32"
          height="33"
          viewBox="0 0 32 33"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M21.4398 29.8791H10.5465C5.83984 29.8791 2.6665 26.8511 2.6665 22.3324V10.7724C2.6665 6.2524 5.83984 3.2124 10.5465 3.2124H21.4398C26.1598 3.2124 29.3332 6.2524 29.3332 10.7724V22.3324C29.3332 26.8511 26.1598 29.8791 21.4398 29.8791ZM19.0265 15.5457H10.5598C9.99984 15.5457 9.55984 15.9991 9.55984 16.5457C9.55984 17.1057 9.99984 17.5457 10.5598 17.5457H19.0265L15.7198 20.8391C15.5332 21.0257 15.4265 21.2924 15.4265 21.5457C15.4265 21.7977 15.5332 22.0524 15.7198 22.2524C16.1065 22.6391 16.7465 22.6391 17.1332 22.2524L22.1598 17.2524C22.5332 16.8791 22.5332 16.2124 22.1598 15.8391L17.1332 10.8391C16.7465 10.4524 16.1065 10.4524 15.7198 10.8391C15.3332 11.2391 15.3332 11.8657 15.7198 12.2657L19.0265 15.5457Z"
            fill="#A5ADBC"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
