<section id="notice" class="sectionlist bg-gray-100" style="display: none">
  <nav class="w-full sm:flex mt-14 mb-8">
    <h1 class="font-semibold text-4xl flex flex-grow md:ml-24 mx-6">Notices</h1>
    <ul class=" hidden sm:flex md:mr-24">
      <!-- <li class="inline-block bg-gray-200 py-2 px-4 mx-2 rounded-lg hover:bg-black hover:text-white">
        <a href="#" class="text-base">Home</a>
      </li>
      <li class="inline-block bg-gray-200 py-2 px-4 mx-2 rounded-lg hover:bg-black hover:text-white">
        <a href="#" class="text-base">Mess</a>
      </li>
      <li class="inline-block bg-gray-200 py-2 px-4 mx-2 rounded-lg hover:bg-black hover:text-white">
        <a href="#" class="text-base">HAB</a>
      </li>
      <li class="inline-block bg-gray-200 py-2 px-4 mx-2 rounded-lg hover:bg-black hover:text-white">
        <a href="#" class="text-base">Academics</a>
      </li> -->
      <li class="py-2 px-1 mr-3">
        <!-- <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="21">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.766602H19.4768V20.2436H0V0.766602Z" fill="white" />
          </mask>
          <g mask="url(#mask0)">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M9.73876 2.2666C5.19576 2.2666 1.49976 5.9616 1.49976 10.5046C1.49976 15.0476 5.19576 18.7436 9.73876 18.7436C14.2808 18.7436 17.9768 15.0476 17.9768 10.5046C17.9768 5.9616 14.2808 2.2666 9.73876 2.2666ZM9.73876 20.2436C4.36876 20.2436 -0.000244141 15.8746 -0.000244141 10.5046C-0.000244141 5.1346 4.36876 0.766602 9.73876 0.766602C15.1088 0.766602 19.4768 5.1346 19.4768 10.5046C19.4768 15.8746 15.1088 20.2436 9.73876 20.2436Z"
              fill="#1B212D" />
          </g>
          <mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="15" y="16" width="6" height="6">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.24 16.4736H20.264V21.4884H15.24V16.4736Z"
              fill="white" />
          </mask>
          <g mask="url(#mask1)">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M19.5142 21.4884C19.3232 21.4884 19.1312 21.4154 18.9842 21.2694L15.4602 17.7554C15.1672 17.4624 15.1662 16.9874 15.4592 16.6944C15.7512 16.3994 16.2262 16.4014 16.5202 16.6924L20.0442 20.2074C20.3372 20.5004 20.3382 20.9744 20.0452 21.2674C19.8992 21.4154 19.7062 21.4884 19.5142 21.4884Z"
              fill="#1B212D" />
          </g>
        </svg> -->
        <div class="relative">
          <input type="text" onkeyup="myFunction1()" type="search"
            class="h-12 w-80 pr-8 pl-5 rounded z-0 focus:shadow focus:outline-none mySearch1"
            placeholder="Search anything...">
          <div class="absolute top-3 right-3"> <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i>
          </div>
        </div>
      </li>
    </ul>
  </nav>
  <!-- <div class="mx-8 md:mx-32"> -->
  <div class=" mx-3 md:container md:mx-auto flex flex-wrap lg:justify-around sm:justify-center">
    <% notices.forEach((notice,i)=>{ %>
      <!-- single-notice-card -->
      <div class="max-w-xl h-auto m-2 p-9 border-2 rounded-lg shadow-2xl">
        <div class="text-blue-600 font-bold text-sm float-left">category</div>
        <div class="text-blue-600 font-bold text-sm float-right">
          <%=notice.creation.getDate()+' /'+(notice.creation.getMonth()+1)+'/'+notice.creation.getFullYear()%>
        </div>
        <br>
        <div class="font-bold text-xl my-3">
          <%= notice.title %> :
        </div>
        <p class="text-justify text-base">
          <%= notice.description%>
        </p>
        <div class="text-center font-normal text-sm text-gray-500 mt-3">
          <% if(notice.path.indexOf("https://")==-1) { %>
            <a class="hover:text-black hover:underline cursor-pointer"
              href="/hab/uploads/hostel_files/<%= notice.path %>" target="_blank">View pdf</a>
            <% } else { %>
              <a class="hover:text-black hover:underline cursor-pointer" href="<%=notice.path%>" target="_blank">View
                link</a>
              <% } %>
        </div>
      </div>
      <% }) %>
  </div>
</section>