<%- include("../partials/header.ejs") %>
<h1 class="text-3xl text-black pb-6">Notices</h1>
<div class="mt-6">
  <a
    class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
    href="/hab/admin/hostel/notice/add"
    >Add Notices</a
  >
</div>
<div class="w-auto mt-6 overflow-auto">
  <div class="bg-white">
    <table class="min-w-full bg-white">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
            Title
          </th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
            Description
          </th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
            Category
          </th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
            View
          </th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
            Edit
          </th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
            Delete
          </th>
        </tr>
      </thead>
      <tbody class="text-gray-700" id="myMenu">
        <%notices.forEach((notice,i)=>{ if(i%2){%>
        <tr class="bg-gray-200">
          <%}else{%>
        </tr>

        <tr>
          <%}%>

          <td class="w-1/3 text-left py-3 px-4"><%= notice.title %></td>
          <td class="w-1/3 text-left py-3 px-4">
            <%= notice.description.substring(0, 80) + "..." %>
          </td>
          <td class="text-left py-3 px-4"><%= notice.category %></td>

          <td class="text-left py-3 px-4">
            <% if(notice.path.indexOf("https://")==-1) { %>
            <a
              class="hover:text-blue-500"
              href="/hab/admin/hostel/notice/pdf/<%=notice.id%>"
              target="_blank"
              >View</a
            >
            <% } else { %>
            <a
              class="hover:text-blue-500"
              href="<%= notice.path %>"
              target="_blank"
              >View</a
            >
            <% } %>
          </td>

          <td class="text-left py-3 px-4">
            <a
              class="hover:text-blue-500"
              href="/hab/admin/hostel/notice/<%=notice.id%>"
              >Edit</a
            >
          </td>

          <td class="text-left py-3 px-4">
            <form
              class="mx-2"
              action="/hab/admin/hostel/notice/<%=notice.id%>?_method=DELETE"
              method="POST"
            >
              <button class="hover:text-red-500">Delete</button>
            </form>
          </td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </div>
</div>
<%- include("../partials/footer.ejs") %>
