<%- include("../partials/header.ejs") %> 
<h1 class="text-3xl text-black pb-6">Announcements</h1>
<div class="mt-6">
    <a class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" href="/hab/admin/announcement/add">Add Announcements</a>
    <form style="float: right;" action="/hab/admin/announcement/find/" method="POST" enctype="multipart/form-data">
    <input type="text" name="mySearch1" placeholder="Search ... ">
    <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit"> Submit </button>
    </form>
</div>
<div class="w-auto mt-6 overflow-auto">
    <div class="bg-white">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Date</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Title</th>
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Important</th>
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Link</td>
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Edit</td>
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Delete</td>
                </tr>
            </thead>
            <tbody class="text-gray-700" id="myMenu">
                    <%announcements.forEach((announcement,i)=>{ if(i%2){%>
                            <tr class="bg-gray-200">
                        <%}else{%>
                            <tr>
                        <%}%>
                            <td class="text-left py-3 px-4"><%=  announcement.creation.getFullYear()+'/'+(announcement.creation.getMonth()+1)+'/'+announcement.creation.getDate() %></td>
                            <td class="w-1/3 text-left py-3 px-4"><%= announcement.title %></td>
                            <td class="text-left py-3 px-4"><%= announcement.important ? "YES" : "NO" %></td>
                            <td class="text-left py-3 px-4">
                            <% if(announcement.link){ %>
                            <a class="hover:text-blue-500" href="<%= announcement.link %>" target="_blank">View</a>
                            <% }else{ %>----<% } %></td>
                            <td class="text-left py-3 px-4"><a class="hover:text-blue-500" href="/hab/admin/announcement/<%=announcement.id%>">Edit</a></td>
                            <td class="text-left py-3 px-4"><form class="mx-2" action="/hab/admin/announcement/<%=announcement.id%>?_method=DELETE" method="POST"><button class="hover:text-red-500">Delete</button></form></td>
                           
                        </tr>
                    <% })%>
                        
            </tbody>
        </table>
    </div>
</div>

<%- include("../partials/footer.ejs") %> 

