<%- include("./partials/header.ejs") %> 


<div class="flex justify-between">
    <h1 class="mx-10 title-font text-xl font-bold text-gray-900 mb-3">Announcements</h1>
    <a href="/announcement/add"><button  class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded mx-10">Add Announcements</button></a>
</div>

<section class="text-gray-600 body-font">
  
    <div class="container px-5 py-24 mx-auto ">
      <div class="flex flex-wrap -mx-4 -my-8">
        <% announcements.forEach((announcement)=>{ %>
        <input type="hidden" class="imp-class" value="<%= announcement.id %>" name="xyz">
        <div class="py-8 px-4 lg:w-1/3 bg-green-100 rounded mx-auto overflow-hidden shadow-md" id="<%= announcement.id %>">
          <div class="h-full flex items-start">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
              <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200"><%= announcement.creation.toString().split(" ")[1] %></span>
              <span class="font-medium text-lg text-gray-800 title-font leading-none"><%= announcement.creation.toString().split(" ")[2] %></span>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1" id="<%= announcement.id %>1">
              <% if(announcement.important) { %>
                IMP
              <% } %>
              CATEGORY</h2>
              <p class="leading-relaxed mb-5 overflow-hidden" id="<%= announcement.id %>2"><%= announcement.description %></p>
              <a class="inline-flex items-center">
                <span class="justify-between flex flex-col pl-3">
                    <form class="mx-2" action="/announcement/<%=announcement.id%>?_method=DELETE" method="POST"><button  class="bg-red-500 hover:bg-red-600 text-white cursor-pointer  py-2 px-4 rounded">Delete</button></form>
                     <% if(announcement.path != undefined){ %>
                        <a href="/announcement/<%=announcement.id%>" target="_blank"><button  class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Announcement</button></a>
                     <% } %>
                </span>
              </a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

  </section>



  <%- include("./partials/footer.ejs") %> 