<%- include("../partials/header.ejs") %> 
<h1 class="text-3xl text-black pb-6">Links</h1>

<div class="mt-6">
    <a class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" href="/hab/admin/links/add">Add Links</a>
</div>

<div class="w-full mt-6 overflow-auto">
    <div class="bg-white">
        <table class="min-w-full leading-normal">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">Link Name</th>
                    <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">Sublinks</th>
                    <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">Edit</th>
                    <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">Delete</th>
                </tr>
            </thead>
            
            <tbody class="text-gray-700">
                <%links.forEach((link,i)=>{ if(i%2){%>
                        <tr class="bg-gray-200">
                    <%}else{%>
                        <tr>
                    <%}%>
                        <td class="text-left py-3 px-4"><%=  link.name %></td>
                        <td class="text-left py-3 px-4"><a class="hover:text-blue-500" href="/hab/admin/links/<%=link.id%>/sublinks" >View</a></td>
                        <td class="text-left py-3 px-4"><a class="hover:text-blue-500" href="/hab/admin/links/<%=link.id%>">Edit</a></td>
                        <td class="text-left py-3 px-4"><form class="mx-2" action="/hab/admin/links/<%=link.id%>?_method=DELETE" method="POST"><button class="hover:text-red-500">Delete</button></form></td>
                    </tr>
                <% })%>  
        </tbody>
        </table>
    </div>
</div>

<%- include("../partials/footer.ejs") %> 