<%- include("../partials/header.ejs") %>
<h1 class="text-3xl text-black pb-6">Personal Website</h1>
<% if(personalwebs.length==0){ %>
<div class="mt-6">
  <a
    class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
    href="/hab/admin/hostel/personalweb/add"
    >Add/Edit website link</a
  >
</div>
<% } %>
<div class="w-auto mt-6 overflow-auto">
  <div class="bg-white">
    <table class="min-w-full bg-white">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
            Link
          </th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
            Edit
          </th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
            Delete
          </th>
        </tr>
      </thead>
      <tbody>
        <% personalwebs.forEach((row,index) => { %>
        <tr>
          <td class="text-left py-3 px-4"><a href=""><%= row.link %></a></td>
          <td class="text-left py-3 px-4">
            <a
              class="hover:text-blue-500"
              href="/hab/admin/hostel/personalweb/<%=row.id%>"
              >Edit</a
            >
          </td>
          <td class="text-left py-3 px-4">
            <form
              class="mx-2"
              action="/hab/admin/hostel/personalweb/<%=row.id%>?_method=DELETE"
              method="POST"
            >
              <button class="hover:text-red-500">Delete</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%- include("../partials/footer.ejs") %>
