<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tailwind.min.css">
    <link rel="stylesheet" href="/css/hostel.css">
    <title>
        <%=hostel.name%>
    </title>
    <link rel="icon" href="/images/headers/logo2.svg" type="image/icon type">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Mulish", sans-serif;
        }

        html {
            background-color: #f7f7f7;
        }

        #top {
            background-image: url("/uploads/hostel/<%=hostel.pic%>");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 80vh;
            min-width: 100%;
            position: relative;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.35);
            z-index: 2;
        }

        .tabs {
            overflow: auto;
            white-space: nowrap;
        }

        .tabs::-webkit-scrollbar {
            display: none;
        }

        .tab {
            display: inline-block;
            padding: 0 0.75rem;
            margin-top: 0.75rem;
            border-right: 1.5px solid #727272;
        }

        .tabStyle {
            display: inline-block;
            position: relative;
            color: black;
        }

        /* .tabStyle::after {
            content: "";
            height: 2px;
            width: 70%;
            background-color: #E54F6D;
            position: absolute;
            bottom: 0em;
            left: 50%;
            transform: translate(-50%);
        } */

        .hostelsnav {
            background-color: transparent;
            transition: all 0.4s;
        }

        .nav_logo {
            width: 50px;
            display: none;
            transition: all 0.4s;
        }

        .sticky_nav {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #fff;
            transition: all 0.4s;
            z-index: 100;
        }

        #slideLeft:focus,
        #slideRight:focus {
            border: none;
            outline: none;
        }

        #slideLeft:hover,
        #slideRight:hover {
            opacity: 1;
            transform: scale(0.85);
        }

        @media only screen and (min-width: 1024px) {
            .sticky_logo {
                display: block;
                transition: all 0.4s;
            }

            .hostelProfileCard {
                width: 30%;
            }
        }

        @media only screen and (max-width: 767px) {
            .tabs {
                overflow: auto;
                white-space: nowrap;
            }
        }
    </style>
</head>

<body>
    <section id="top">
        <div class="overlay"></div>
        <div class="top_content relative w-11/12 md:w-4/5 h-full mx-auto z-10 flex flex-col md:flex-row">
            <div class="top_title w-full h-1/2 md:w-1/2 md:h-full flex justify-start items-center">
                <img src="/images/headers/logo.svg" alt="logo" class="transform scale-75 mr-0.5 md:mr-1">
                <h2 id="hostel_title" class="text-6xl text-white font-black break-all">
                    <%=hostel.name%>
                </h2>
            </div>
            <div class="top_card_container w-full h-1/2 md:w-1/2 md:h-full relative">
                <div id="content_hab" class="absolute bottom-14 right-0 rounded">
                    <img src="/images/headers/h.svg" alt="img" class="hs">
                    <h2 style="color: #F3F4F7;">
                        <%=hostel.name%>, IIT GUWAHATI
                    </h2>
                    <hr>
                    <p class="text-xs leading-relaxed font-normal opacity-80">
                        <%=hostel.description%>
                    </p>
                </div>
                <!-- change this to the actual button -->
                <img src="/images/headers/fullscr.svg" alt="" onclick="toggleFullscreen();"
                    class="hidden md:inline absolute right-0 bottom-2">
            </div>
        </div>
    </section>

    <section id="navigation" class="hostelsnav">
        <div class="md:px-12 lg:px-24 pb-2 flex justify-center">
            <!-- <img id="nav_logo" src="/images/headers/logo2.svg" alt="logo" class="nav_logo hidden md:inline"> -->
            <button class="ml-2 sm:ml-0 mr-2 sm:mr-4 mt-2 sm:px-9 w-1/4 sm:w-1/12 flex justify-center items-center"
                style="background: #FFFFFF;border: 1px solid #8A8886;border-radius: 2px;">
                <img src="/images/nav/left.svg" alt="back" class="w-3 h-3 sm:w-4 sm:h-4">
                <a href="/" class="text-xs sm:text-base">HOME</a>
            </button>
            <div class="w-3/4 sm:w-11/12 relative">
                <button id="slideLeft"
                    class="absolute top-1 rounded bg-white shadow-lg -left-2 h-full z-20 transform scale-75 opacity-80">
                    <img src="/images/nav/left.svg" alt="Left" class="h-full rounded transform scale-50">
                </button>
                <ul class="tabs font-semibold">
                    <% hostels.forEach(hostel=>{ %>
                        <li class="tab text-black font-bold text-opacity-60 hover:text-opacity-100"><a target="_self"
                                href="/hostels/<%=hostel.id%>" data-hostel_name="<%=hostel.name%>">
                                <%=hostel.name%>
                            </a>
                        </li>
                        <% }) %>
                </ul>
                <button id="slideRight"
                    class="absolute top-1 rounded bg-white shadow-lg -right-2 h-full z-20 transform scale-75 opacity-80">
                    <img src="/images/nav/right.svg" alt="Right" class="h-full rounded transform scale-50">
                </button>
            </div>
        </div>
    </section>

    <section id="hostel_management">
        <div class="container md:px-20 px-5 py-10 mx-auto">
            <h1 class="mb-10 px-5 text-center"><span class="text-lg font-semibold px-5 py-3 bg-white rounded"
                    style="box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);">HMC
                    Members</span>
            </h1>
            <div class="flex justify-evenly flex-wrap -m-4">
                <% members.forEach(member=>{%>
                    <div class="hostelProfileCard w-10/12 h-auto m-2 bg-white rounded-sm"
                        style="box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);width: 300px;">
                        <div class="box-border pointer-events-none border-8 border-white w-full h-64 bg-gray-200">
                            <img src="/uploads/hostel/<%=member.photo%>" alt="img" class="h-full w-full object-contain">
                        </div>
                        <div class="hostel_mng_contacts px-3 pt-1 pb-2" data-mail="email-1"
                            data-twitter="twitter_handle">
                            <p class="text-xl font-semibold">
                                <%=member.Mname%>
                            </p>
                            <p class="py-0.5 text-sm font-normal text-gray-600">
                                <%=member.position%>
                            </p>
                            <i class="fas fa-phone-alt mr-2"></i>
                            <%=member.contact1%>
                                </p>
                                <i class="fas fa-phone-alt mr-2"></i>
                                <%=member.contact2%>
                                    </p>
                                    <i class="fas fa-at mr-2"></i>
                                    <%=member.email%>
                                        </p>
                        </div>
                    </div>
                    <%})%>
            </div>
        </div>
    </section>

    <footer class="text-gray-600 body-font bg-gray-200">
        <div class="container px-5 py-0 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="/">
                <img src="/images/nav/hab_logo.svg" alt="hab-logo" class="transform scale-50">
                <span class="text-xl">HAB</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-400 sm:py-2 sm:mt-0 mt-4">©
                2021
                SWC —
                <a href="https://www.facebook.com/swciitg" class="text-gray-600 ml-1" rel="noopener noreferrer"
                    target="_blank">@swciitg</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/nav.js"></script>
    <script>
        const navbar = document.getElementById("navigation");
        const nav_logo = document.getElementById("nav_logo");
        const title = document.getElementById("hostel_title");
        const elem = document.getElementById("top");
        const listOfTabs = document.querySelectorAll(".tab a");
        const contacts_divs = document.getElementsByClassName("hostel_mng_contacts");
        const buttonRight = document.getElementById('slideRight');
        const buttonLeft = document.getElementById('slideLeft');
        let scrollAmount = 0;
        const scrollMin = 0
        const scrollMax = document.querySelector('.tabs').clientWidth;

        buttonRight.onclick = function () {
            document.querySelector('.tabs').scrollTo({
                top: 0,
                left: Math.max(scrollAmount += 300, scrollMax),
                behavior: 'smooth'
            });
        };
        buttonLeft.onclick = function () {
            document.querySelector('.tabs').scrollTo({
                top: 0,
                left: Math.min(scrollAmount -= 500, scrollMin),
                behavior: 'smooth'
            });
        };


        for (let i = 0; i < listOfTabs.length; i++) {
            if (listOfTabs[i].getAttribute("data-hostel_name").toLowerCase() === title.innerText.toLowerCase()) {
                listOfTabs[i].parentNode.classList.add("tabStyle");
            }
        }

        const sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky_nav");
                // nav_logo.classList.add("sticky_logo");
            } else {
                navbar.classList.remove("sticky_nav");
                // nav_logo.classList.remove("sticky_logo");
            }
        }

        function toggleFullscreen() {
            if ((document.fullScreenElement && document.fullScreenElement !== null) ||
                (!document.mozFullScreen && !document.webkitIsFullScreen)) {
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } else if (elem.webkitRequestFullscreen) { /* Safari */
                    elem.webkitRequestFullscreen();
                } else if (elem.msRequestFullscreen) { /* IE11 */
                    elem.msRequestFullscreen();
                }
            } else {
                if (document.cancelFullScreen) {
                    document.cancelFullScreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                }
            }
        }

        for (let i = 0; i < contacts_divs.length; i++) {
            for (let j = 0; j < contacts_divs[i].children.length; j++) {
                contacts_divs[i].children[j].addEventListener("click", (e) => {
                    const text = e.target.textContent;
                    const elem = document.createElement("textarea");
                    document.body.appendChild(elem);
                    elem.value = text;
                    elem.select();
                    document.execCommand("copy");
                    document.body.removeChild(elem);
                    alert("Copied " + e.target.textContent + " to the clipboard");
                })
            }
        }

        document.addEventListener("scroll", myFunction);
    </script>
    <script src="/js/all.min.js"></script>
</body>

</html>