<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta property="og:title" content="Hostel Affairs Board">
    <meta property="og:description" content="">
    <meta property="og:image" content="/hab//images/headers/logo2.svg">
    <!-- <meta property="og:url" content="http://euro-travel-example.com/index.htm"> -->
    <link href="https://fonts.googleapis.com/css?family=Mulish" rel="stylesheet" />

    <link rel="stylesheet" href="/hab/css/tailwind.min.css" />
    <link rel="stylesheet" href="/hab/css/home.css" />
    <link rel="stylesheet" href="/hab/css/base.css" />
    <title>Hostel Affairs Board - IIT Guwahati</title>
    <link rel="icon" href="/hab/images/headers/logo2.svg" type="image/icon type" />
    <style>
        .tabs {
            border-left: 1.5px solid #525252;
        }

        .tab {
            display: inline-block;
            /* padding: 0 0.75rem; */
        }

        .hostelsnav {
            background-color: transparent;
            transition: all 0.4s;
        }

        .sticky_nav {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #fff;
            transition: all 0.4s;
            z-index: 100;
        }

        .nav_logo {
            width: 50px;
            display: none;
            transition: all 0.4s;
        }

        .tabStyle {
            position: relative;
            color: black;
        }

        .tabStyle::after {
            content: "";
            height: 2px;
            width: 50%;
            background-color: #e54f6d;
            position: absolute;
            bottom: 0em;
            left: 50%;
            transform: translate(-50%);
        }

        /* .rotate {
            -moz-transition: all .5s linear;
            -webkit-transition: all .5s linear;
            transition: all .5s linear;
        } */

        .rotate.down {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .collapsible {
            background-color: white;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }



        .cnt {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }

        .tabs::-webkit-scrollbar {
            display: none;
        }

        #slideLeft,
        #slideRight {
            display: none;
        }

        #slideLeft:focus,
        #slideRight:focus {
            border: none;
            outline: none;
        }

        #slideLeft:hover,
        #slideRight:hover {
            opacity: 1;
            transform: scale(0.85);
        }

        .cat .act,
        .cta:hover {
            background-color: rgb(230, 59, 59);
            color: white;
        }

        .mySearch1 {
            background-image: url("/hab/images/svg/search.svg");
            background-repeat: no-repeat;
            background-position: 5px;
            padding-left: 24px;
            height: 30px;
        }

        .notice_card,
        .form_card {
            min-width: 21.5rem;
        }

        /****************************/
        @media only screen and (max-width: 600px) {

            .notice_card,
            .form_card,
            .ordinance_card {
                min-width: 20rem;
            }

            .top_title {
                margin-top: -28rem;
            }

            .top_title img {
                transform: scale(0.70);
            }

            .mySearch1 {
                width: 80%;
            }
        }

        @media only screen and (max-width: 1279px) {

            #slideLeft,
            #slideRight {
                display: block;
            }

            .tabs {
                overflow: auto;
                white-space: nowrap;
            }
        }

        @media only screen and (min-width: 768px) {
            .sticky_logo {
                display: block;
                transition: all 0.4s;
            }

            .profileCard {
                width: 30%;
            }
        }
    </style>
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <%- include("./partials/nav.ejs") %>
            <%- include("./partials/home.ejs") %>
                <%- include("./partials/notice.ejs") %>
                    <%- include("./partials/hostel.ejs") %>
                        <%- include("./partials/functionary.ejs") %>
                            <%- include("./partials/forms.ejs") %>
                                <%- include("./partials/ordinance.ejs") %>
                                    <%- include("./partials/utils.ejs") %>
                                        <%- include("./partials/footer.ejs") %>


                                            <!-- Compiled and minified Materialize JS -->
                                            <script
                                                src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                                            <script src="/hab/js/nav.js"></script>
                                            <script src="/hab/js/newHome.js"></script>
                                            <script src="/hab/js/animation/three.js"></script>
                                            <script src="/hab/js/animation/dat-gui.js"></script>
                                            <script src="/hab/js/animation/gsap.js"></script>
                                            <script src="/hab/js/animation/sketch.js"></script>
                                            <script src="/hab/js/animation/demo1.js"></script>
                                            <script src="/hab//js/all.min.js"></script>
                                            <script>
                                                // const card = document.querySelector(".home-card");
                                                // const card_title = document.querySelector(".home-card h2");
                                                // const card_para = document.querySelector(".home-card p");
                                                // let idx = parseInt(card.getAttribute("data-index"));
                                                // const uploads = JSON.parse(card.getAttribute("data-uploads"));
                                                const buttonRight = document.getElementById('slideRight');
                                                const buttonLeft = document.getElementById('slideLeft');
                                                let scrollAmount = 0;
                                                const scrollMin = 0
                                                const scrollMax = document.querySelector('.tabs').clientWidth;

                                                buttonRight.onclick = function () {
                                                    document.querySelector('.tabs').scrollTo({
                                                        top: 0,
                                                        left: Math.max(scrollAmount += 100, scrollMax),
                                                        behavior: 'smooth'
                                                    });
                                                };
                                                buttonLeft.onclick = function () {
                                                    document.querySelector('.tabs').scrollTo({
                                                        top: 0,
                                                        left: Math.min(scrollAmount -= 100, scrollMin),
                                                        behavior: 'smooth'
                                                    });
                                                };

                                                setInterval(function () {
                                                    document.getElementById("content").click();
                                                    // if (idx == uploads.length - 1) {
                                                    //     idx = 0;
                                                    // } else {
                                                    //     idx += 1;
                                                    // }
                                                    // card_title.innerText = uploads[idx].image_name + ", IIT Guwahati";
                                                    // card_para.innerText = uploads[idx].description;
                                                }, 6000);
                                            </script>
                                            <script>
                                                const navbar = document.getElementById("navigation");
                                                const nav_logo = document.getElementById("nav_logo");
                                                const sticky = navbar.offsetTop;

                                                function myFunction() {
                                                    if (window.pageYOffset >= sticky) {
                                                        navbar.classList.add("sticky_nav");
                                                        nav_logo.classList.add("sticky_logo");
                                                    } else {
                                                        navbar.classList.remove("sticky_nav");
                                                        nav_logo.classList.remove("sticky_logo");
                                                    }
                                                }

                                                function myFunction1() {
                                                    var input1, filter1, table, a2, a3, i, temp;
                                                    temp = document.getElementsByClassName("active")[0].innerHTML;
                                                    if (temp == "Notices") {
                                                        input1 = document.getElementsByClassName("mySearch1")[0];
                                                        filter1 = input1.value.toUpperCase();
                                                        table = document.getElementsByClassName("to-search-in-notices");
                                                        for (i = 0; i < table.length; i++) {
                                                            a2 = table[i].getElementsByTagName("h2")[2].innerHTML.toUpperCase();
                                                            a3 = table[i].getElementsByTagName("p")[0].innerHTML.toUpperCase();
                                                            if (a2.indexOf(filter1) > -1 || a3.indexOf(filter1) > -1) {
                                                                table[i].style.display = "";
                                                                //continue;
                                                            } else {
                                                                table[i].style.display = "none";
                                                            }
                                                        }
                                                    } else {
                                                        input1 = document.getElementsByClassName("mySearch1")[1];
                                                        filter1 = input1.value.toUpperCase();
                                                        table = document.getElementsByClassName("to-search-in");
                                                        for (i = 0; i < table.length; i++) {
                                                            a2 = table[i].getElementsByTagName("h2")[2].innerHTML.toUpperCase();
                                                            a3 = table[i].getElementsByTagName("p")[0].innerHTML.toUpperCase();
                                                            if (a2.indexOf(filter1) > -1 || a3.indexOf(filter1) > -1) {
                                                                table[i].style.display = "";
                                                                //continue;
                                                            } else {
                                                                table[i].style.display = "none";
                                                            }
                                                        }
                                                    }
                                                }

                                                function myFunction2(cate) {
                                                    var header = document.getElementById("cat");
                                                    var btns = header.getElementsByClassName("cta");

                                                    var table, a2, a3, i, temp;
                                                    temp = document.getElementsByClassName("active")[0].innerHTML;
                                                    if (temp == "Notices") {
                                                        table = document.getElementsByClassName("to-search-in-notices");
                                                        for (i = 0; i < table.length; i++) {
                                                            a2 = table[i].getElementsByTagName("h2")[0].innerHTML.toUpperCase();
                                                            if (a2.indexOf(cate) > -1) {
                                                                table[i].style.display = "";
                                                            } else {
                                                                table[i].style.display = "none";
                                                            }
                                                        }
                                                    } else {
                                                        table = document.getElementsByClassName("to-search-in");
                                                        for (i = 0; i < table.length; i++) {
                                                            a2 = table[i].getElementsByTagName("h2")[0].innerHTML.toUpperCase();
                                                            if (a2.indexOf(cate) > -1) {
                                                                table[i].style.display = "";
                                                            } else {
                                                                table[i].style.display = "none";
                                                            }
                                                        }
                                                    }
                                                }

                                                document.addEventListener("scroll", myFunction);
                                            </script>

                                            <script>
                                                var coll = document.getElementsByClassName("collapsible");
                                                var i;
                                                for (i = 0; i < coll.length; i++) {
                                                    coll[i].addEventListener("click", function () {
                                                        console.log(this.children[1])
                                                        this.children[1].children[0].classList.toggle("down")
                                                        console.log(this.children[1])
                                                        this.classList.toggle("active");
                                                        var cnt = this.nextElementSibling;

                                                        if (cnt.style.display === "block") {
                                                            cnt.style.display = "none";
                                                        } else {
                                                            cnt.style.display = "block";
                                                        }
                                                    });
                                                }
                                            </script>
</body>

</html>