<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Mulish" rel="stylesheet" />

    <link rel="stylesheet" href="css/tailwind.min.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/base.css" />
    <title>Hostel Affairs Board - IIT Guwahati</title>
    <link rel="icon" href="images/headers/logo2.svg" type="image/icon type" />
    <style>
        .tabs {
            border-left: 1.5px solid #525252;
        }

        .tab {
            display: inline-block;
            padding: 0 0.45rem;
        }

        .hostelsnav {
            background-color: transparent;
            transition: all 0.4s;
        }

        .sticky_nav {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #fff;
            transition: all 0.4s;
            z-index: 100;
        }

        .nav_logo {
            width: 50px;
            display: none;
            transition: all 0.4s;
        }

        .tabStyle {
            position: relative;
            color: black;
        }

        .tabStyle::after {
            content: "";
            height: 2px;
            width: 70%;
            background-color: #e54f6d;
            position: absolute;
            bottom: 0em;
            left: 50%;
            transform: translate(-50%);
        }

        .dropdown:hover>.dropdown-content {
            display: block;
        }

        /****************************/

        @media only screen and (max-width: 1024px) {
            .tabs {
                overflow: auto;
                white-space: nowrap;
            }
        }

        @media only screen and (min-width: 768px) {
            .sticky_logo {
                display: block;
                transition: all 0.4s;
            }

            .profileCard {
                width: 30%;
            }
        }
    </style>
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <%- include("./partials/nav.ejs") %>
            <%- include("./partials/home.ejs") %>
                <%- include("./partials/notice.ejs") %>
                    <%- include("./partials/hostel.ejs") %>
                        <%- include("./partials/functionary.ejs") %>
                            <%- include("./partials/forms.ejs") %>
                                <%- include("./partials/ordinance.ejs") %>
                                    <%- include("./partials/utils.ejs") %>
                                        <%- include("./partials/footer.ejs") %>

                                            <!-- Compiled and minified JavaScript -->
                                            <script
                                                src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

                                            <script src="js/nav.js"></script>
                                            <!-- <script src="js/home.js"></script> -->
                                            <script src="js/animation/three.js"></script>
                                            <script src="js/animation/dat-gui.js"></script>
                                            <script src="js/animation/gsap.js"></script>
                                            <script src="js/animation/sketch.js"></script>
                                            <script src="js/animation/demo1.js"></script>
                                            <script src="/js/all.min.js"></script>
                                            <script>
                                                const navbar = document.getElementById("navigation");
                                                const nav_logo = document.getElementById("nav_logo");
                                                const sticky = navbar.offsetTop;

                                                function myFunction() {
                                                    if (window.pageYOffset >= sticky) {
                                                        navbar.classList.add("sticky_nav");
                                                        nav_logo.classList.add("sticky_logo");
                                                    } else {
                                                        navbar.classList.remove("sticky_nav");
                                                        nav_logo.classList.remove("sticky_logo");
                                                    }
                                                }

                                                function myFunction1() {
                                                    var input1, filter1, table, a2, a3, i, temp;
                                                    temp = document.getElementsByClassName("active")[0].innerHTML;
                                                    if (temp == "Notices") {
                                                        input1 = document.getElementsByClassName("mySearch1")[0];
                                                        filter1 = input1.value.toUpperCase();
                                                        table = document.getElementsByClassName("to-search-in-notices");
                                                        for (i = 0; i < table.length; i++) {
                                                            a2 = table[i].getElementsByTagName("h2")[2].innerHTML.toUpperCase();
                                                            a3 = table[i].getElementsByTagName("p")[0].innerHTML.toUpperCase();
                                                            if ((a2.indexOf(filter1) > -1 || a3.indexOf(filter1) > -1)) {
                                                                //table[i].style.display = "";
                                                                continue;
                                                            } else {
                                                                table[i].style.display = "none";
                                                            }
                                                        }
                                                    }
                                                    else {
                                                        input1 = document.getElementsByClassName("mySearch1")[1];
                                                        filter1 = input1.value.toUpperCase();
                                                        table = document.getElementsByClassName("to-search-in");
                                                        for (i = 0; i < table.length; i++) {
                                                            a2 = table[i].getElementsByTagName("h2")[2].innerHTML.toUpperCase();
                                                            a3 = table[i].getElementsByTagName("p")[0].innerHTML.toUpperCase();
                                                            if ((a2.indexOf(filter1) > -1 || a3.indexOf(filter1) > -1)) {
                                                                //table[i].style.display = "";
                                                                continue;
                                                            } else {
                                                                table[i].style.display = "none";
                                                            }
                                                        }
                                                    }
                                                }

                                                function myFunction2(cate) {
                                                    var table, a2, a3, i, temp;
                                                    temp = document.getElementsByClassName("active")[0].innerHTML;
                                                    if (temp == "Notices") {
                                                        table = document.getElementsByClassName("to-search-in-notices");
                                                        for (i = 0; i < table.length; i++) {
                                                            a2 = table[i].getElementsByTagName("h2")[0].innerHTML.toUpperCase();
                                                            if ((a2.indexOf(cate) > -1)) {
                                                                table[i].style.display = "";
                                                            } else {
                                                                table[i].style.display = "none";
                                                            }
                                                        }
                                                    }
                                                    else {
                                                        table = document.getElementsByClassName("to-search-in");
                                                        for (i = 0; i < table.length; i++) {
                                                            a2 = table[i].getElementsByTagName("h2")[0].innerHTML.toUpperCase();
                                                            if ((a2.indexOf(cate) > -1)) {
                                                                table[i].style.display = "";
                                                            } else {
                                                                table[i].style.display = "none";
                                                            }
                                                        }
                                                    }
                                                }

                                                document.addEventListener("scroll", myFunction);
                                            </script>
</body>

</html>