<%- include("../partials/header.ejs") %>
    <h1 class="text-3xl text-black pb-6">Edit Hostel</h1>

    <div class="flex flex-wrap justify-center">
        <div class="w-full lg:w-1/2 my-6 pr-0 lg:pr-2">
            <p class="text-xl pb-6 flex items-center">
                <i class="fas fa-list mr-3"></i> Edit Hostel
            </p>
            <div class="leading-loose">
                <form class="p-10 bg-white rounded shadow-xl" action="<%= link %>?_method=PATCH" method="POST"
                    enctype="multipart/form-data">
                    <div class="mt-2">
                        <label class="block text-sm text-gray-600" for="name">Hostel Name</label>
                        <input class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded" id="name" type="text"
                            name="name" value="<%=hostel.name%>">
                    </div>
                    <div class="mt-2">
                        <label class="block text-sm text-gray-600" for="pic">Profile Image</label>
                        <input class="w-full px-5 py-4 text-gray-700 bg-gray-200 rounded" type="file" id="pic"
                            name="pic" placeholder="image url"></input>
                    </div>
                    <div class="mt-2">
                        <label class="block text-sm text-gray-600" for="description">Description</label>
                        <input class="w-full px-5 py-4 text-gray-700 bg-gray-200 rounded" type="text" id="description"
                            name="description" value="<%= hostel.description %>" required></input>
                    </div>

                    <div class="mt-6">
                        <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
                            type="submit">Save</button>
                    </div>
                </form>
                <a href="/hab/admin/hostels"><button
                        class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="button">Go
                        Back</button>
                </a>
            </div>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>