<%- include("../partials/header.ejs") %>
    <h1 class="text-3xl text-black pb-6">Hostels</h1>
    <div class="mt-6">
        <a class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" href="/hab/admin<%= link %>">Add
            Hostels</a>
    </div>

    <div class="w-full mt-6 overflow-auto">
        <div class="bg-white">
            <table class="min-w-full leading-normal">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Name
                        </th>
                        <th
                            class="w-1/3  py-3 text-sm px-5  border-b-2 text-left font-semibold uppercase tracking-wider">
                            Description
                        </th>

                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Members</th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Edit
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <% hostels.forEach((hostel, i)=>{ %>
                        <tr>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <div class="flex items-center">
                                    <div class="flex-shrink-0 w-10 h-10">
                                        <img class="w-full h-full rounded-full"
                                            src="/hab/uploads/hostel/<%= hostel.pic %>" alt="" />
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            <%= hostel.name %> Hostel
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="w-1/3 text-left py-3 px-4">
                                <%= hostel.description.substring(0, 80) + "..." %>
                            </td>



                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <a class="hover:text-blue-500" href="/hab/admin/hostels/<%=hostel.id%>">View Members</a>
                            </td>

                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <a class="hover:text-blue-500"
                                    href="/hab/admin/hostels/<%=hostel.id%>/updateHostel">Edit</a>
                            </td>

                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <form class="mx-2" action="/hab/admin/hostels/<%=hostel.id%>?_method=DELETE"
                                    method="POST"><button class="hover:text-red-500">Delete</button></form>
                            </td>
                        </tr>
                        <% }) %>


                </tbody>
            </table>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>